body {
    font-family: Arial, sans-serif;
    background-color:  #F6F4E9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
  }
  
  .dropdown li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  .card-details {
    background: linear-gradient(90deg, #ffde6b 0%, #f3f8f0 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .lounge-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .lounge-card {
    background-color: #D2E4C7;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    margin: 10px;
    padding: 15px;
    text-align: left;
  }
  
  .lounge-card h4 {
    margin-top: 0;
  }
  
  .lounge-card p {
    margin: 5px 0;
  }
  
  .lounge-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
